<h4 class="ui horizontal divider header">Profile</h4>

<table class="ui definition table">
  <tbody>
    <tr>
      <td class="two wide column">Name</td>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= current_user.email %></td>
    </tr>
  </tbody>
</table>

<h2 class="ui center aligned header"><%= current_user.name %>'s Recipes</h2>

<ul>
  <% for recipe in current_user.recipes %>
  <li><%= recipe.name %></li>
  <% end %>
</ul>
