<h1 class="ui center aligned header"><%= @category.name.pluralize %></h1>

<%= link_to "Create a new Recipe", new_category_recipe_path(@category) %><br>
<br>

<table>
  <% @recipe.each do |rec| %>
  <tr>
    <td><%= link_to "#{rec.name}", category_recipe_path(@category, rec) %></td>
  </tr>
  <% end %>
</table>