<h1 class="ui center aligned header"><%= @category.name %></h1>

<table>
  <% @recipe.each do |rec| %>
  <tr>
    <td><%= link_to "#{rec.name}", category_recipe_path(@category, rec) %></td>
  </tr>
  <% end %>
</table>